.jsenabled .usermenu .moodle-actionmenu.show {
    background: none;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .usertext {
    color: #fff;
}

.jsenabled .usermenu .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    border-top-color: #fff;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars .avatar {
    margin: 6px;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars .avatar, .usermenu .moodle-actionmenu .toggle-display .userbutton .avatars img {
    width: 24px;
    height: 24px;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars {
    margin: 0;
    height: 40px;
}

#help-panel-logo:before {
    content: "\f059";
    font-size: 24px;
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    margin-top: 6px;
}

#header-heading h1 {
    color: #000;
    line-height: 36px;
    position: relative;
    font-size: 1.5em;
    text-align: left;
    width: auto;
    display: inline-block;
    margin: 0 9em 0 0.6em;
}

#header-heading h2 {
    margin: 0 0 0.2em 14px;
    font-size: 1em;
    text-align: left;
    vertical-align: top;
    line-height: 1em;
    color: #000;
}

div#header-heading-pic-right {
    right: 0.9em;
    position: absolute;
    background: url([[pix:theme|wordmark]]) no-repeat right/auto 100%;
    width: 400px;
    height: 36px;
}

#header-heading div {
    display: inline-block;
}

#header-heading {
    float: left;
    width: 100%;
    position: initial;
    min-height: 36px;
    margin: 0px;
    height: auto;
    padding-top: 40px;
    z-index: 998;
    background: url([[pix:theme|banner-background]]) no-repeat;
    margin-bottom: 10px;
}

#header-img {
    width: 100%;
    min-height: 38px;
    height: auto;
    box-shadow: 0px 3px 3px rgb(136, 136, 136);
    background-color: #1b1b1b;
}

#header-img-wrap {
    z-index: 999;
    position: fixed;
    height: 40px;
    width: 100%;
    background: url([[pix:theme|banner-background]]) no-repeat;
}

#help-panel-logo:after {
    content: "\f0d7";
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    margin-top: 6px;
    vertical-align: top;
}

#header-img #my-courses:before {
    content: "\f0c9";
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    transform: scale(1.5);
    height: auto;
    width: auto;
    margin: 10px 0 0 14px;
}

.userpicture{
    border-radius: 5px;
}

#header-banner #header-img #logo-umn a {
    display: block;
    height: 100%;
    width: 100%;
}

#help-panel-logo {
    height: 32px;
    width: 36px;
    display: block;
    float: right;
    position: relative;
    top: 4px;
    margin: 0;
    background: none;
    cursor: pointer;
}

body.jsenabled #user-image-button {
    display: block;
    float: right;
    height: 40px;
    width: auto;
    margin: 0px;
    vertical-align: middle;
    cursor: pointer;
}

#header-img #my-courses {
    display: inline-block;
    height: 40px;
    width: 34px;
    margin: 0;
    cursor: pointer;
    float: left;
}

help-panel.active {
    display: block;
}

.panel-content {
    border-radius: 4px;
    clear: right;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 5px 0;
    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.2);
}

.moodle-actionmenu[data-enhanced].show .menu {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.jsenabled .usermenu .moodle-actionmenu.show .menu:after {
    border-bottom: 6px solid #e3e3e3;
}

.panel-info-box-header {
    height: auto;
    padding: 2px 10px 2px 10px;
    font-size: 9pt;
    font-style: italic;
    vertical-align: middle;
    text-align: left;
    background-color: #e3e3e3;
}

.dropdown-panel {
    height: auto;
    width: auto;
    min-width: 150px;
    top: 40px;
    display: none;
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    border-radius: 4px;
}

.dropdown-panel.active {
    display: block;
}

#help-panel {
    right: 124px;
}

#course-panel {
    left: 5px;
}

#m-links-panel {
    left: 40px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e3e3e3;
    margin-right: 14px;
    float: right;
}

#course-panel .arrow-up {
    float: none;
    margin-left: 8px;
}

#m-links-panel .arrow-up {
    float: none;
    margin-left: 8px;
}

.panel-content .fa {
    font-size: 14px;
    opacity: 0.5;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    margin: 0 8px 0 4px;
    width: 14px;
}

#course-panel a, #help-panel a, #user-panel a {
    padding: 0 8px 0 8px;
}

#course-panel li, #help-panel li, #user-panel li, #m-links-panel li {
    line-height: 40px;
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-folder-open:before {
    content: "\f07c";
}

.fa-calendar:before {
    content: "\f073";
}

.fa-university:before {
    content: "\f007";
}

.fa-library:before {
    content: "\f02d";
}

#m-links-panel ul, #course-panel ul, #help-panel ul, #user-panel ul {
    margin: 0;
    list-style-type: none;
}

.dropdown-panel a {
    height: auto;
    display: block;
    width: auto;
    color: #333;
}

.dropdown-panel a:hover, div#header-banner ul.panel-content>li>a:hover {
    text-decoration: none;
    background-color:#00699e;
    background-image:-moz-linear-gradient(top,#0070a8,#005f8f);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#0070a8),to(#005f8f));
    background-image:-webkit-linear-gradient(top,#0070a8,#005f8f);
    background-image:-o-linear-gradient(top,#0070a8,#005f8f);
    background-image:linear-gradient(to bottom,#0070a8,#005f8f);
    background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0070a8',endColorstr='#ff005f8f',GradientType=0);
    color: #fff;
}

#course-panel li {
    display: block;
}

#help-panel-logo, .usermenu .menubar, #header-img #my-courses {
    opacity: 0.65;
}

#header-img #my-courses:hover {
    opacity: 0.25;
}

#help-panel-logo:hover, .usermenu .menubar:hover, #header-banner #header-img #m-links {
    opacity: 1;
}

#logo-umn {
    height: 28px;
    width: 45%;
    max-width: 22em;
    float: left;
    margin-left: 14px;
    top: 6px;
    position: relative;
    background: url([[pix:theme|logo-umn]]) no-repeat left center/auto 100%;
}

#m-links {
    background: url([[pix:theme|m-links]]) no-repeat;
    display: inline-block;
    width: 60px;
    margin-top: 6px;
    height: 28px;
    background-size: auto 28px;
    margin-left: 8px;
    float: left;
    cursor: pointer;
}

.dir-ltr.userloggedinas .usermenu .userbutton .avatars .avatar.current {
    left: 12px;
    top: 8px;
    margin: 0;
    z-index: 1002;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars .avatar.realuser {
    margin: 0;
    margin-left: 4px;
    position: absolute;
    top: 4px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-left: 0;
}

#header-banner #header-img #m-links:after {
    content: "\f0d7";
    opacity: 0.5;
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: block;
    margin-left: 52px;
    margin-top: 4px;
}

#header-banner #header-img #m-links:hover {
    opacity: 0.5;
}

.jsenabled .usermenu .moodle-actionmenu .toggle-display.textmenu {
    padding-left: 16px;
    margin-left: 0;
}

.usermenu .caret {
    border-top: 5px solid #000;
}

.btn.btn-navbar {
    display: none;
    float: right;
    padding: 7px 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #ededed;
    background-image: -moz-linear-gradient(top,#f2f2f2,#e5e5e5);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#e5e5e5));
    background-image: -webkit-linear-gradient(top,#f2f2f2,#e5e5e5);
    background-image: -o-linear-gradient(top,#f2f2f2,#e5e5e5);
    background-image: linear-gradient(to bottom,#f2f2f2,#e5e5e5);
    background-repeat: repeat-x;
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',endColorstr='#ffe5e5e5',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
}

.btn.btn-navbar .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

.nav-collapse.collapse.smaller-user-menu-dropdown {
    display: none;
    padding-top: 40px;
}

.smaller-user-menu-dropdown .panel-content li[role="presentation"] a {
    border-radius: 0;
    font-weight: normal;
}

.nav-collapse.smaller-user-menu-dropdown .panel-content {
    margin: 0;
}

/*-----Begin 979px styling----*/
@media (max-width: 768px) {

.nav-collapse.collapse.smaller-user-menu-dropdown.active {
    display: block;
}

.btn.btn-navbar.smaller-user-menu {
    display: block;
}

    #logo-umn {
        display: none;
    }

    #header-heading #header-heading-pic-right {
        display: none;
    }

    .dropdown-panel {
        width: 100%;
        position: absolute;
        padding-top: 0;
    }
#course-panel, #m-links-panel, #help-panel {
    left: 0;
}
    .dropdown-panel .arrow-up {
        display: none;
    }
#header-img .usermenu .avatars, #header-img .usermenu .caret {
    display: none;
}

.panel-content {
    box-shadow: none;
    border-bottom: 1px solid #efefef;
}
.usermenu .menubar:hover {
    opacity: 0.5;
}
.usermenu a {
    cursor: default;
}
}
/*---End 979px styling----*/


/*---Environment Distinction---*/
header.tst #header-img {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQ…eILonOByvEZR2yOCMuRTA3wuQxHI3uCZiNRCkEKSZaIQBBZCZSOhvsrwAAAABJRU5ErkJggg==)repeat !important;
    background-color: #610b5e !important;
}

header.qa #header-img {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOklEQ…VQBSBDsCtCUoBdEZoCTEVYFKAqwqEAoQiPAogiAgpAigBjhhlfK4yrVwAAAABJRU5ErkJggg==)repeat !important;
    background-color: #0b6121 !important;
}
/*---End Environment Distinction---*/
