/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* ---- max-width: 768px (switch to 1 column) -------*/
@media (max-width: 768px) {

    #umn-clean-max-content-btn {
        display: none;
    }
}
/* --- end max-width: 768px -----*/

/* maximize-content button */
#region-main,
#page-navbar .breadcrumb-button {
    position: relative;
}

#page-navbar .breadcrumb-button > div {
    display: inline-block;
}

#page-navbar #umn-clean-max-content-btn {
    position: relative;
    margin-left: 1em;
    top: 0.2em;
    right: 0em;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    z-index: 95;
    opacity: 0.5;
    background-color: #fff;
    border: 2px solid #fff;
    background-image:url([[pix:theme|maximize]]);
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: left;
}

#region-main #umn-clean-max-content-btn {
    position: absolute;
    top: 0.2em;
    right: 0em;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    z-index: 99;
    opacity: 0.5;
    background-color: #fff;
    border: 2px solid #fff;
    background-image:url([[pix:theme|maximize]]);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#page-navbar #umn-clean-max-content-btn.max,
#region-main #umn-clean-max-content-btn.max {
    background-image:url([[pix:theme|restore]]);
}

#region-main.max,
.row-fluid .span9.max {
    width: 100% !important;
    padding-left: 1em;
}

#block-region-side-pre.hidden,
#block-region-side-post.hidden {
    display: none;
}

#header.hidden {
    display: none;
}

body {
    padding: 0;
}

div#page.maximized, body.pagelayout-maintenance div#page {
    padding-top: 0;
}

#dock .dockeditem_container {
    margin-top: 80px;
}

.block .export_calendar {
    width: 100%;
    text-align: center;
}

/*MOOD-628 btindell adding custom CSS to distinguish private replies*/
div.privatereply, span.privatereply, li.privatereply {
    background-color: lightblue;
}

span.privatereplyprefix {
    font-weight: bold;
    font-style: normal;
}
/* <<< MOOD-628*/
